@import "../../Variables.scss";
.mainProfile {
  display: flex;

  height: 80vh;
}

.profilePic {
  display: flex;
  background-position: center;
}
.profilePicDiv {
  background-position: center;
  background-size: cover;
  width: 300vw;
  background: cover;
  background: url("./../pics/pattern8.png");
}
.profileInfo {
  display: flex;
  flex-direction: column;
  margin: 5%;
  margin-top: 1%;
  h1 {
    margin: 5px;
    margin-bottom: 0px;
  }

  .name {
    font-size: 25px;
    margin-left: 15px;
  }
}
.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 7vh;
  width: 12vw;
  opacity: 0.8;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  font-weight: 200;
}

.buttons {
  background: url("./../pics//pattern11.jpg");
  display: flex;
  margin-left: -5%;
  width: 57vw;
  flex-direction: row;
  justify-content: center;
  .linkto {
    text-decoration: none;
    border-left: none;
  }
}
.editForm {
  margin-top: 200px;
  margin-left: 20px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 35vw;
  label {
    font-size: 35px;
  }
}
