@import "../../Variables.scss";
.mainProfile {
  display: flex;

  height: 80vh;
}
// background: url("./../pics/pattern6.png");
// background-size: cover;
// height: 100vh;
.profilePic {
  display: flex;
  background-position: center;
}
.profilePicDiv {
  background-position: center;
  background-size: cover;
  width: 300vw;
  background: cover;
  background: url("./../pics/pattern8.png");
}
// width and heigh should by synced
.profileInfo {
  display: flex;
  flex-direction: column;
  margin: 5%;
  margin-top: 1%;
  h1 {
    margin: 5px;
    margin-bottom: 0px;
  }
  // margin-left: 40px;
  // margin-bottom: 2px;
  .name {
    font-size: 25px;
    margin-left: 15px;
  }
}
.navButtons {
  border: 2px solid rgb(160, 221, 213);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 50px;
  width: 280px;
}

.buttons {
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.editForm {
  border: 5px solid green;
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 30vw;
  label {
    font-size: 35px;
  }
}
