.works {
  display: flex;
  border: 2px solid pink;
  flex-direction: column;
  height: 70vh;
  width: 50vw;

  // img {
  //   max-height: 25%;
  // }
}
.picture {
  height: 30vh;
  width: 20vw;
}
.addWork {
  display: flex;

  justify-content: center;
  height: 20vh;
  flex-direction: row;
  background: url("../pics/pattern11.jpg");
  h1 {
    margin-top: 20px;
    display: flex;
  }
}
.workInput {
  border: 4px solid violet;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60vw;
  height: 50vh;
}
.workInputParent {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;
  link {
    text-decoration: none;
  }
}
.portfolio {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.navButtons {
  text-decoration: none;
  color: white;
  display: flex;
}
.editWork {
  width: 45vw;
  border: 2px solid green;
  display: flex;
  flex-direction: column;

  height: 30vh;
}
.Link {
  text-decoration: none;
}
