.background {
  // background: url("../pics/pattern11.jpg");
  // background-size: cover;
  background: rgb(220, 220, 220);
}
.works {
  display: flex;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.433);
  flex-direction: column;
  height: 85vh;
  width: 50vw;
  margin-left: 25%;
  h1 {
    margin-top: 5px;

    font-size: 40px;
    display: flex;
    justify-content: center;
  }
  img {
    margin-top: 5%;
    height: 30vh;
    width: 20vw;
    margin-left: 30%;
  }
}
.picture {
  height: 30vh;
  width: 20vw;
  display: flex;
  justify-content: center;
}
.addWork {
  display: flex;

  justify-content: center;
  height: 20vh;
  flex-direction: row;
  background: url("../pics/pattern11.jpg");
  h1 {
    margin-top: 20px;
    display: flex;
  }
}
.workInput {
  border: 4px solid violet;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60vw;
  height: 50vh;
}
.workInputParent {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;
  link {
    text-decoration: none;
  }
}
.portfolio {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.navButtons {
  text-decoration: none;
  color: white;
  display: flex;
}
.editWork {
  width: 45vw;
  border: 2px solid green;
  display: flex;
  flex-direction: column;

  height: 30vh;
}
.Link {
  text-decoration: none;
  justify-content: center;
  margin-left: 5%;
  // margin-right: -5%;
}
