.works {
  display: flex;
  border: 2px solid pink;
  flex-direction: column;
  height: 70vh;
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
  width: 33vw;
  margin: auto;
  justify-content: space-around;
  .workInfo {
    display: flex;
    flex-direction: column;
  }
  img {
    display: flex;
    height: 25vh;
  }
}
.addWork {
  border: 2px solid rgb(77, 255, 0);
  margin-top: 3%;
  display: flex;
  justify-content: center;
  height: 20vh;
  flex-direction: column;
  .portfolio {
    border: 2px solid pink;
  }
}
.workInput {
  border: 4px solid violet;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30vw;
  height: 50vh;
}
.workInputParent {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: 3px solid black;
  text-decoration: none;
  link {
    text-decoration: none;
  }
}
.navButtons {
  text-decoration: none;
}
