.links {
  display: flex;

  height: 50vh;
  width: 0vw;
  flex-direction: column;
  flex-wrap: wrap;
  //   justify-content: center;
  //   align-content: center;
  //   align-items: center;
  img {
    height: 100%;
    margin: 10px;
  }
  .info {
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
  }
}
.creators {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  border: 2px solid pink;

  background: url("./../pics/pattern6.png");
  h1 {
    width: 15vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 15%;
    font-size: 5vh;
    font-weight: 400;
    color: rgb(255, 255, 255);

    text-decoration: none;
  }
}
