.title {
  display: flex;
  background: rgb(26, 26, 26);
  flex-direction: row;
  // text-decoration: none;
  height: 15vh;
  padding-top: 2%;
  justify-content: center;
  align-items: center;
}

.navbarMain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  margin-left: 25%;
}

.navList {
  // border: 2px solid rgba(192, 5, 5, 0.541);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  height: 15vh;
  a {
    text-decoration: none;
    a:focus {
      color: blue;
    }
    // font: white;
  }
  li {
    font-size: 40px;
    font-style: arial;
    color: rgba(255, 255, 255, 0.767);
    display: flex;
    font-weight: 200;
  }
}

.logo {
  height: 20vh;
  object-fit: cover;
  padding-left: 2%;
  a {
    text-decoration: none;
  }
  .logo:hover {
    transform: scale(1.05);
  }
}

.discover:hover {
  color: rgb(255, 99, 99);
  transform: scale(1.05);
}
.login:hover {
  color: rgb(172, 255, 47);
  transform: scale(1.05);
}

.sUp:hover {
  color: rgb(0, 255, 255);
  transform: scale(1.05);
}
.contact:hover {
  color: rgb(210, 102, 197);
  transform: scale(1.05);
}
