.title {
  font-size: 10vh;
  display: flex;
  border: 2px solid red;
  justify-content: center;
}
.nav-bar {
  border: 2px solid red;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
